@model IEnumerable<TrackIt.UI.Models.ProjectViewModel>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div style="        
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        grid-gap: 15px;
    ">
    @foreach (var item in Model)
    {
        <div class="card bg-greenblue">
            <div class="card-header">
                @item.Name
            </div>
            <div class="card-body">
                <p class="card-text" style="overflow: hidden;
                                            text-overflow: ellipsis;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;
                                        "
                   >@item.Description</p>
                <a href="/Project/Details/@item.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>

