@model TrackIt.UI.Models.TicketDetailsViewModel

@{
    ViewBag.Title = "Ticket";
}


<div class="container-fluid p-0">

    <div>

        <div id="editable" class="d-flex flex-row justify-content-between align-items-center">
            <h1 class="w-100 h3">@Model.Name</h1>
            <div>
                <button id="edittitle" type="button" class="btn btn-primary"> Edit </button>
            </div>
        </div>

        <form action="" method="post" id="formEdit" class="w-100 d-none flex-row justify-content-between align-items-center">
            <input type="text" id="focusMe" class="h3 w-100 bg-transparent text-light border-0 p-0" value="@Model.Name" />

            <div class="">
                <button type="button" class="btn btn-primary"> Save </button>
                <button id="closeEdit" type="button" class="btn btn-danger"> Close </button>
            </div>
        </form>

        <div class="bg-success rounded col-sm-1 justify-content-center d-flex">
            <label class="p-0 mb-1" style="font-size: 1.2rem">@Model.Status</label>
        </div>

    </div>

    <hr class="card border-secondary border-bottom-0 mt-3 mb-3" />

    <div class="container p-3">
        <p class="h4">@Model.Description</p>
    </div>

</div>


<script>
    var ticketTitle = document.getElementById('edittitle');
    var closeEdit = document.getElementById('closeEdit');

    ticketTitle.onclick = function() {
        document.getElementById('editable').classList.replace("d-flex", "d-none");
        document.getElementById('formEdit').classList.add("d-flex");
        document.getElementById('focusMe').focus();
    };


    closeEdit.onclick = () => {
        document.getElementById('editable').classList.replace("d-none", "d-flex");
        document.getElementById('formEdit').classList.replace("d-flex", "d-none");
    }
</script>