@model IDictionary<Guid, List<TrackIt.UI.Models.ApplicationUserViewModel>>


<table class="table" id="replace_table">

    <tr>

        <th>
            Name
        </th>

        <th></th>

    </tr>

    @foreach (var item in Model.First().Value)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.InProject == false)
                {
                    @Ajax.ActionLink("Add", "AssignWorkerToTicket", new { workerId = item.Id, projectId = Model.First().Key }, new AjaxOptions
                    { OnSuccess = "OnSuccess", UpdateTargetId = "replace_table", InsertionMode = InsertionMode.ReplaceWith })
                }
                else
                {
                    @Ajax.ActionLink("Remove", "DismissWorkerFromTicket", new { workerId = item.Id, projectId = Model.First().Key }, new AjaxOptions()
               { OnSuccess = "OnSuccess", UpdateTargetId = "replace_table", InsertionMode = InsertionMode.ReplaceWith })
                }
            </td>
        </tr>
    }

</table>